.container{
      font-family: Arial, Helvetica, sans-serif;
      background-color: #F5F7FA; 
      
}
.sec2-2{
    background-color: #263238;
    padding:10px 10px 10px 10px;
    margin-left: 50px;
    padding:60px; 
}

.sec1{
    display:flex;
  background-color: #F5F7FA; 
  font-size: 40px;
    font-weight:550;
         align-items: center;
      justify-content: center;
      

}
.but1{
padding: 1px 10px 30px 10px;

}
button{
    margin-left: 570px;
      border-radius: 10px 10px;
      border: none;
      padding: 10px 15px 10px 15px; 
      background-color:#4CAF4F;
      
}
.sec2-1{

background-color: #263238;
display: flex;
align-items: center;
justify-content: space-around;

color:lightgrey;

  
}

.sec3{
  margin-bottom: 30px;
  list-style: none;
  color:lightgrey;

}

.sec4{
color:lightgrey;
 margin-bottom: 30px;
 
}

.sec5{

 margin-bottom: 100px;
 padding: 20px;
 margin-top:-55px ;
 margin-left: -50px;
}

.sec2-3{
  margin-left: -50px;
  margin-top: 30px;
}

.sec2-2{
    
}

li{
margin: 10px;
margin-left:-10px;
}
input{
   color: lightgrey; 
  background-color:lightgrey;
  border-radius: 10px 10px;
  padding: 10px;
  border: none;
}
.sec5-1{
   position: relative;
    margin: 10px 0px;
}

.sec5-1 i{
    position: absolute;
    left: 160px;
    top: 10px;
    color: gray;

}