
body{
     font-family: "Jost", sans-serif;
     font-optical-sizing: auto;
     font-size: 15.86px;
     font-style: medium;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 20px 30px 20px ;
    
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    color:#262626;
     gap: 30px;
}

span{
    color: yellow;
    background-color:#262626; 
    padding: 13.6px 24.96px 13.6px 24.96px;
    border-radius: 7px;
}
/* button{
  
    border-radius: 10px ;
    padding:12px 18px 12px 18px;
} */

     

header{
    display: flex;
    background-color:#FFFFFF;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px 10px 20px ;
      border-radius: 5px 5px;
    
}
.head1{
    margin-left: 70px;
}
ul{
    margin-left: 100px;
    display: flex;
    padding: 13.6px 24.96px 13.6px 24.96px;
    border-radius: 7px;
    list-style: none;
    justify-content: space-around;
     gap:40px;
    
    
}

.head3{
    display: flex;
    
}
button{
    
    display: flex;
      border-radius: 5px 5px;
      border: none;
      padding: 10px 15px 10px 15px;
      color: #FFFFFF;
      
      
     
}

.button1{
      

    
}
.button2{
    margin-left: -100px;
    margin-right: 60px;
}

.container{
    display: flex;
    justify-content: space-around;
    
    
}

.sec1{
    align-items: flex-start;
}
.sec2{
    align-items: flex-end;
     margin-top: -200px;
     margin-left: 200px;
}